@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
    font-family: 'Gopher';
    src: url('/fonts/Gopher-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RocGrotesk';
    src: url('/fonts/Roc-Grotesk-Wide-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi-Regular";
    src: url("/fonts/Satoshi-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi-Black";
    src: url("/fonts/Satoshi-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi-BoldItalic";
    src: url("/fonts/Satoshi-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

section {
    scroll-snap-align: start;
}

/* Clase para desactivar el snap temporalmente */
.no-snap {
    scroll-snap-type: none !important;
}


.active-nav-link {
    position: relative;
}
